@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f7f7f7;
}

button, .secondary-btn {
    cursor: pointer;
}

.container {
    padding: 30px;
}

.banner {
    position: absolute;
    top: 0;
    height: 50vh;
    width: 100%;
    background-image: url("../img/wallpaper.jpg");
    background-position: bottom right;
    background-repeat: no-repeat;
    -o-background-size: 80% auto;
    -webkit-background-size: 80% auto;
    -moz-background-size: 80% auto;
    background-size: 80% auto;
    background-color: #fff;
}

.banner .title {
    display: block;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 2.8rem;
    color: #0e294e;
    max-width: 500px;
    margin-left: 10%;
    margin-top: 10vh;
    line-height: 4rem;
}

.forms {
    position: relative;
    z-index: 1;
    width: 60vw;
    background-color: #fff;
    padding: 30px 50px;
    margin: auto;
    margin-top: calc(50vh - 100px);
    min-height: 120px;
    border-radius: 10px;
    box-shadow: 1px 1px 9px 0px rgba(128, 128, 128, 0.75);
    -webkit-box-shadow: 1px 1px 9px 0px rgba(128, 128, 128, 0.75);
    -moz-box-shadow: 1px 1px 9px 0px rgba(128, 128, 128, 0.75);
}

.form-group {
    display: flex;
}

.main-input {
    background-color: #fff;
    border: 0;
    color: #808294;
    padding: 15px 20px;
    border-radius: 10px 0 0 10px;
    width: 100%;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    box-shadow: 1px 1px 9px 0px rgba(199, 199, 199, 0.75);
    -webkit-box-shadow: 1px 1px 9px 0px rgba(199, 199, 199, 0.75);
    -moz-box-shadow: 1px 1px 9px 0px rgba(199, 199, 199, 0.75);
}

.submit-btn {
    color: #fff;
    background-color: #0552e5;
    border: 0;
    border-radius: 0 10px 10px 0;
    width: 200px;
    font-weight: 600;
    font-size: 0.9rem;
    font-family: 'Roboto', sans-serif;
}

.loader {
    display: flex;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
}

.secondary-btn {
    border: 0;
    background-color: #0552e5;
    border-radius: 50px;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
}

.secondary-btn img {
    width: 20px;
    height: 20px;
}

input[type="file"] {
    display: none;
}

#pendingMic, #pendingUpload {
    padding: 0;
    display: none;
    background-color: #808294;
}

#pendingMic img, #pendingUpload img {
    animation: rotation 3s infinite linear;
}

.error {
    margin-top: 10px;
    color: rgb(255, 43, 43);
}

#route {
    width: 60vw;
    padding: 30px 50px;
    margin: auto;
    color: #0e294e;
}

#route-list li {
    margin-bottom: 20px;
}

#route-list li::marker {
    font-size: 1.3rem;
}

#route-list li.main {
    font-weight: 600;
    font-size: 1.4rem;
    margin: 30px 0;
}

#route-list li.second {
    color: #8a96a8;
}

#route-list li.second {
    font-weight: 600;
}

#map {
    margin: 30px auto 100px auto;
    height: 75vh;
    width: calc(60vw + 100px);
    border-radius: 10px;
}

.spam-toggle {
    margin-top: 20px;
}

.spam-toggle .switch {
    margin-right: 10px;
}

 /* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 16px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 2px;
    bottom: 2px;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #0552e5;
}

input:focus + .slider {
    box-shadow: 0 0 1px #0552e5;
}

input:checked + .slider:before {
    -webkit-transform: translateX(7px);
    -ms-transform: translateX(7px);
    transform: translateX(7px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
} 

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}