<!DOCTYPE html>
<html>

<head>
  <title>IA Project</title>
  <link rel="icon" href="{{ url_for('static', filename='img/favicon.png') }}"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</head>

<body>
  <div class="banner">
    <h1 class="title">Le chemin le plus court vers votre destination.</h1>
  </div>
  <div class="forms">
    <form id="search-form" class="form-group" action="http://localhost:8000/result" method="post" enctype="multipart/form-data">
      <input type="text" class="main-input" name="doc" placeholder="Où allez-vous ?">
      <button class="submit-btn" type="submit">Trouver un trajet</button>
    </form>
    <div class="spam-toggle">
      <label class="switch">
        <input id="spam-filter-checkbox" type="checkbox" checked>
        <span class="slider round"></span>
      </label>
      <label>Activer le spam filter</label>
    </div>
    <div class="error"></div>
    <div class="loader">
      <form id="mic-form" action="http://localhost:8000/sttMic" method="post" enctype="multipart/form-data">
        <button type="submit" class="secondary-btn" id="sendMic" onclick="onMic()">
          <img
            src="{{ url_for('static', filename='img/voice.png') }}"
            alt="">
        </button>
        <button type="button" class="secondary-btn" id="pendingMic">
          <img
            src="{{ url_for('static', filename='img/loading.png') }}"
            alt="">
        </button>
      </form>
      <form id="upload-form" action="http://localhost:8000/sttFile" method="post" enctype="multipart/form-data">
        <label class="secondary-btn" for="file-input" id="sendUpload">
          <img src="{{ url_for('static', filename='img/upload.png') }}"/>
        </label>
        <input type="file" name="file" id="file-input" onchange="submitFile()"/>
        <button type="button" class="secondary-btn" id="pendingUpload">
          <img
            src="{{ url_for('static', filename='img/loading.png') }}"
            alt="">
        </button>
      </form>
    </div>
  </div>
  <div id="route">
    <ul id="route-list"></ul>
  </div>
  <div id="map"></div>
  <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAvKDJSw5Jskof9Aqs7vL4HmrmrwWLusVc&v=weekly" async></script>
  <script>
    const route = '{{transcript}}';
  </script>
</body>

</html>